<div>
    <h1>LOGIN</h1>
    <br>

    <form name="loginForm" ng-submit="loginForm.$valid && lc.login()" novalidate>
        <fieldset class="form-group">
            <label for="login_name">Name</label>
            <input id="login_name" type="text" name="name" ng-model="credentials.name" placeholder="Kurt" title="Name" required/>
        </fieldset>
        <fieldset class="form-group">
            <label for="login_pwd">Passwort</label>
            <input id="login_pwd" type="password" name="password" ng-model="credentials.password" placeholder="***" title="Password" required/>
        </fieldset>
        <fieldset class="form-group">
            <input type="submit" value="Login" name="submit" />
        </fieldset>
    </form>
    
    <i name="loginerrormessage" class="errormessage" ng-show="error"></i>
</div>