<h1>Tagmanagement</h1>
<hr>

<div class="list-group" name="tagsDiv">
    <table class="table">
        <div class="list-group-item" ng-repeat="tag in $storage.tags">
            <tr>
                <td>
                    <img ng-src="ressources/images/{{tag.tagurl}}" />
                </td>
                <td>
                    {{tag.name}}
                </td>
                <td>
                    <input type="checkbox" title="Aktiviert" label="Aktiviert" class="radioBtn" ng-model="tag.enabled" checked >
                </td>
            </tr>
        </div>  
    </table>
</div>

<button class="addBtn" title="Hinzufuegen" name="addBtn" type="button" ng-click="add" value="Hinzufuegen" />